NEXT_PUBLIC_RPC_URL=https://rpc.testnet.casper.network
NEXT_PUBLIC_NETWORK=casper-test
NEXT_PUBLIC_CONTRACT_HASH=hash-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
WEB3_STORAGE_TOKEN=your_token_here
